modules = ["web", "nodejs-20"]
run = "run the project"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run the project"]

[workflows]
runButton = "Serve Portfolio"

[[workflows.workflow]]
name = "Serve Portfolio"
author = 42946037
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server . -p 5000 -a 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
